{
    admin off
    http_port 8000
    https_port 8443
}

vinotheque.foo.bar {
    tls /certificates/vinotheque.foo.bar.pem /certificates/vinotheque.foo.bar-key.pem

    respond /health 200

    reverse_proxy /api* http://service:8080 {
    }

    reverse_proxy /* http://ui:8080 {
    }
}
