{
    admin off
    http_port 8000
    https_port 8443
}

vinotheque.foo.bar {
    tls /certificates/vinotheque.foo.bar.pem /certificates/vinotheque.foo.bar-key.pem

    respond /health 200

    route /api* {
        jwt {
          trusted_tokens {
            static_secret {
              token_name access_token
              token_secret 383aca9a-1c39-4d7a-b4d8-67ba4718dd3f
              token_issuer 7a50e023-2c6e-4a5e-913e-23ecd0e2b940
            }
          }
          auth_url /auth
          allow roles anonymous guest admin
        }
        reverse_proxy http://service:8080
    }

    route /* {
        jwt {
            primary yes
            trusted_tokens {
                static_secret {
                  token_name access_token
                  token_secret 383aca9a-1c39-4d7a-b4d8-67ba4718dd3f
                  token_issuer 7a50e023-2c6e-4a5e-913e-23ecd0e2b940
                }
              }
              auth_url /auth
              allow roles anonymous guest admin
            }
        reverse_proxy http://ui:8080
    }

    route /auth* {
    	auth_portal {
    		path /auth
    		backends {
    			local_backend {
    				method local
    				path /users.json
    				realm local
    			}
    		}
    		jwt {
                token_name access_token
                token_secret 383aca9a-1c39-4d7a-b4d8-67ba4718dd3f
                token_issuer 7a50e023-2c6e-4a5e-913e-23ecd0e2b940
    			token_lifetime 900
    		}
    	}
    }
}
