<table id="wine-list" mat-table [dataSource]="model.getWines().wines" class="mat-elevation-z8">
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef>Name</th>
    <td mat-cell class="wine-name" *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <ng-container matColumnDef="winery">
    <th mat-header-cell *matHeaderCellDef>Winery</th>
    <td mat-cell class="winery" *matCellDef="let element"> {{element.winery}} </td>
  </ng-container>

  <ng-container matColumnDef="grape">
    <th mat-header-cell *matHeaderCellDef>Grape</th>
    <td mat-cell class="grape" *matCellDef="let element"> {{element.grape}} </td>
  </ng-container>

  <ng-container matColumnDef="year">
    <th mat-header-cell *matHeaderCellDef>Year</th>
    <td mat-cell class="year" *matCellDef="let element"> {{element.year}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row class="wine" *matRowDef="let row; columns: columns;"></tr>
</table>
