<mat-accordion>
  <mat-expansion-panel id="filter-types">
    <mat-expansion-panel-header>
      <mat-panel-title>Type</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-chip-list [multiple]="true">
      <app-wine-type-selector (typeSelect)="typeChanged($event)" [current]="current" [model]="model"
                              [type]="wineType.WHITE"
                              display="White" id="show-white-wines"></app-wine-type-selector>
      <app-wine-type-selector (typeSelect)="typeChanged($event)" [current]="current" [model]="model"
                              [type]="wineType.ROSE"
                              display="Rose" id="show-rose-wines"></app-wine-type-selector>
      <app-wine-type-selector (typeSelect)="typeChanged($event)" [current]="current" [model]="model"
                              [type]="wineType.RED"
                              display="Red" id="show-red-wines"></app-wine-type-selector>
      <app-wine-type-selector (typeSelect)="typeChanged($event)" [current]="current" [model]="model"
                              [type]="wineType.SPARKLING"
                              display="Sparkling" id="show-sparkling-wines"></app-wine-type-selector>
    </mat-chip-list>
  </mat-expansion-panel>
  <mat-expansion-panel id="filter-grapes">
    <mat-expansion-panel-header>
      <mat-panel-title>Grape</mat-panel-title>
    </mat-expansion-panel-header>
    <mat-chip-list disabled>
      <mat-chip *ngFor="let grape of model.getGrapes()" class='grape'>{{grape}}</mat-chip>
    </mat-chip-list>
  </mat-expansion-panel>
</mat-accordion>
