<p>
  <mat-toolbar color="primary" id="toolbar-top">
    <span>Vinotheque</span>
    <div>
      <a
        href="https://github.com/jaedle/vinotheque"
        id="github"
        mat-button
        target="_blank"
      >
        <img src="assets/github.svg"/>
      </a>
    </div>
  </mat-toolbar>
</p>

<div class="content">
  <ng-container *ngIf="error"> could not fetch wines</ng-container>
  <ng-container *ngIf="!error">
    <h1>Wines</h1>
    <mat-chip-list aria-label="Fish selection">
      <mat-chip (click)="showAllWines()" id="show-all-wines">All wines</mat-chip>
      <mat-chip (click)="showWhiteWines()" id="show-white-wines">White wines</mat-chip>
      <mat-chip (click)="showRoseWines()" id="show-rose-wines">Rose wines</mat-chip>
      <mat-chip (click)="showRedWines()" id="show-red-wines">Red wines</mat-chip>
      <mat-chip (click)="showSparklingWines()" id="show-sparkling-wines">Sparkling wines</mat-chip>
    </mat-chip-list>
    <mat-list>
      <mat-list-item
        *ngFor="let wine of model?.getWines()"
        class="wine-name"
      >{{ wine.name }}</mat-list-item
      >
    </mat-list>
  </ng-container>
</div>
