<p>
  <mat-toolbar color="primary" id="toolbar-top">
    <span>Vinotheque</span>
    <div>
      <a
        href="https://github.com/jaedle/vinotheque"
        id="github"
        mat-button
        target="_blank"
      >
        <img src="assets/github.svg"/>
      </a>
    </div>
  </mat-toolbar>
</p>

<div class="content">
  <ng-container *ngIf="error"> could not fetch wines</ng-container>
  <ng-container *ngIf="!error">
    <h1>Wines</h1>
    <mat-chip-list>
      <mat-chip (click)="showAllWines()" [selected]="wineType === undefined" id="show-all-wines">All ({{model.count()}})
      </mat-chip>
      <mat-chip (click)="showWhiteWines()" [selected]="wineType === WineType.WHITE" id="show-white-wines">
        White({{model.countFor(WineType.WHITE)}})
      </mat-chip>
      <mat-chip (click)="showRoseWines()" [selected]="wineType === WineType.ROSE" id="show-rose-wines">
        Rose({{model.countFor(WineType.ROSE)}})
      </mat-chip>
      <mat-chip (click)="showRedWines()" [selected]="wineType === WineType.RED" id="show-red-wines">Red
        ({{model.countFor(WineType.RED)}})
      </mat-chip>
      <mat-chip (click)="showSparklingWines()" [selected]="wineType === WineType.SPARKLING" id="show-sparkling-wines">
        Sparkling ({{model.countFor(WineType.SPARKLING)}})
      </mat-chip>
    </mat-chip-list>
    <app-wine-list [wines]="model?.getWines()"></app-wine-list>
  </ng-container>
</div>
